<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_louncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_louncher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hotroid"
        tools:targetApi="31">
        <activity
            android:name=".AdminEditarServicioActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportes"
            android:exported="false" />
        <activity
            android:name=".AdminServiciosDetallesActivity"
            android:exported="false" />
        <activity
            android:name=".AdminNuevoServicioActivity"
            android:exported="false" />
        <activity
            android:name=".AdminServiciosActivity"
            android:exported="false" />
        <activity
            android:name=".AdminEditarHabitacionActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHabitacionDetallesActivity"
            android:exported="false" />
        <activity
            android:name=".AdminNuevaHabitacionActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHabitacionesActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentReservaCancelados"
            android:exported="false" />
        <activity
            android:name=".FragmentReservaPasados"
            android:exported="false" />
        <activity
            android:name=".FragmentReservaActivos"
            android:exported="false" />
        <activity
            android:name=".ReservaUser"
            android:exported="false" />
        <activity
            android:name=".ChatDetalladoUser"
            android:exported="false" />
        <activity
            android:name=".ChatUser"
            android:exported="false" />
        <activity
            android:name=".HotelesUser"
            android:exported="false" />
        <activity
            android:name=".AdminFotosActivity"
            android:exported="false" />
        <activity
            android:name=".AdminCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".FavoriteHotelsUser"
            android:exported="false"
            android:theme="@style/Theme.Hotroid.User" />
        <activity
            android:name=".SecurityPoliticsUser"
            android:exported="false"
            android:theme="@style/Theme.Hotroid.User" />
        <activity
            android:name=".InfoAccountUser"
            android:exported="false"
            android:theme="@style/Theme.Hotroid.User" />
        <activity
            android:name=".NotificacionesUser"
            android:exported="false"
            android:theme="@style/Theme.Hotroid.User"/>
        <activity
            android:name=".UbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionesHabitacionUser"
            android:label="Opciones de Habitación"
            android:parentActivityName=".HotelDetalladoUser"> <!-- Asegúrate de usar el nombre correcto de tu actividad parent -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HotelDetalladoUser" /> <!-- Esto también debe coincidir con el nombre correcto -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClienteActivity"
            android:theme="@style/Theme.Hotroid.User"/>
<!--
        Taxista
-->
        <activity
            android:name=".TaxiActivity"
            android:theme="@style/Theme.Hotroid" />
        <activity android:name=".TaxiAlertas" />
        <activity android:name=".TaxiCuenta" />
        <activity android:name=".TaxiLocation" />
        <activity android:name=".TaxiFin" />
        <activity android:name=".TaxiUsuario" />




        <!--
                .
        -->
        <activity android:name=".HotelDetalladoUser" />
        <activity android:name=".SuperActivity" />
        <activity android:name=".SuperCuentaActivity" />
        <activity android:name=".SuperDetallesActivity" />
        <activity android:name=".SuperReservasActivity" />
        <activity android:name=".SuperUsuariosActivity" />
        <activity android:name=".SuperEventosActivity" />
        <activity android:name=".SuperDetallesEventosActivity" />
        <activity android:name=".SuperListaClientesActivity" />
        <activity android:name=".SuperDetallesClienteActivadoActivity" />
        <activity android:name=".SuperDetallesClienteDesactivadoActivity" />
        <activity android:name=".SuperListaAdminActivity" />
        <activity android:name=".SuperDetallesAdminActivadoActivity" />
        <activity android:name=".SuperDetallesAdminDesactivadoActivity" />
        <activity android:name=".SuperListaTaxisActivity" />
        <activity android:name=".SuperDetallesTaxiActivadoActivity" />
        <activity android:name=".SuperDetallesTaxiDesactivadoActivity" />
        <activity android:name=".SuperDetallesTaxiPendienteActivity" />
    </application>

</manifest>